footer {
    background-color: #bbc3cc;
    margin-top: 30px;
    padding: 20px;
    font-size: 14px;
    color: #363e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 100px;
}