* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(179, 178, 178, 0.253);
    font-family: 'Instrument Serif', 'Times New Roman', sans-serif;
    font-size: 15pt;
}

#bannerimg {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;
    position: relative;
    background-image: url(../imgs/index-header.jpg);
}

#bannerimg-text {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Italianno', 'Times New Roman', sans-serif;
}

.info-container {
    display: inline-flex;
    margin: 15px 100px;
}

section div {
    padding-top: 10px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div img {
    display: block;
    max-width: 100%;
    max-height: 40vh;
    padding: 20px;
    border-radius: 25px;
}

.index-main-body-text {
    text-align: center;
    align-content: center;
    padding: 0px 20px;
}

#bookBtn {
    background-color: #f5f5f5b6;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

#bookBtn:hover {
    transform: scale(1.1);
    background-color: #93c1d6;
    color: white;
}